<!-- Admin header code start-->
<nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
            <span class="text-gray-900">Just On Click!</span>
            <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt=""
                class="h-8 w-auto" />
        </a>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <!-- <a href="shared/login" class="text-sm/6 font-semibold text-red-900">Admin Login <span aria-hidden="true">&rarr;</span></a> -->
            <button (click)="logout()" style="cursor: pointer;" class="text-sm/6 font-semibold text-red-900">Logout <span
                    aria-hidden="true">&rarr;</span></button>
        </div>
    </div>
</nav>
<!--  Admin header code end -->

<!-- Admin dashboard component -->
<app-admin-dashboard></app-admin-dashboard>