<!-- DASHBOARD -->
<div class="container-fluid px-4">
  <h3 class="fw-bold text-primary mb-4">Dashboard Overview</h3>

  <div class="row g-4">

    <div class="col-md-4">
      <div class="dash-card">
        <div class="card-title">Total Medicines</div>
        <div class="card-number">530</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="dash-card">
        <div class="card-title">Out of Stock</div>
        <div class="card-number">18</div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="dash-card">
        <div class="card-title">Expiring Soon</div>
        <div class="card-number">27</div>
      </div>
    </div>

  </div>
</div>