<div class="container">
  <h2>Sign In</h2>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter email">
    <p *ngIf="signInForm.controls.email.invalid && signInForm.controls.email.touched">
      Enter a valid email.
    </p>

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter password">
    <p *ngIf="signInForm.controls.password.invalid && signInForm.controls.password.touched">
      Min 6 characters.
    </p>

    <button type="submit">Sign In</button>

    <a routerLink="/signup" class="link">Create new account?</a>
  </form>
</div>
