.container {
  width: 350px;
  margin: auto;
  margin-top: 60px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 15px #000;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: #fff;
}

button {
  width: 100%;
  padding: 10px;
  background: #00bfff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #009acd;
}

.link {
  display: block;
  text-align: center;
  margin-top: 14px;
  color: #00bfff;
}
