<div class="bg-white">
        <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="text-gray-900">Just On Click!</span>
                    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt=""
                        class="h-8 w-auto" />
                </a>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <!-- <a href="shared/login" class="text-sm/6 font-semibold text-red-900">Admin Login <span aria-hidden="true">&rarr;</span></a> -->
                    <a routerLink="/admin" class="text-sm/6 font-semibold text-red-900">Admin Login <span aria-hidden="true">&rarr;</span></a>
                </div>
            </div>
        </nav>
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>

  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    @for( product of allProductList(); track product.id) {
<div class="group relative">
    <img src="{{product.image_url}}" alt="{{product.product_name}}"
        class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />  
    
    <div class="mt-4 flex justify-between">
        
        <div>
            <h3 class="text-sm text-gray-700">
                <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{product.product_name}}
                </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{product.product_decription}}</p>
        </div>
        
        <div class="flex flex-col items-end"> 
            <p class="text-sm font-medium text-gray-900">{{product.product_selling_price | currency:'INR'}}</p>
            <p class="mt-1 text-sm text-gray-500">{{product.status}}</p> 
            <button class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-3 rounded text-xs transition-colors duration-200" (click)="addToCart(product)">
              Buy Now
            </button>
        </div>
        
    </div>
</div>
    }
  </div>
  </div>
</div>

