<div class="bg-white p-6">
  <div class="flex items-center justify-between mb-6">
    <div>
      <h2 class="text-2xl font-semibold text-blue-900">Inventry ledger</h2>
    </div>
    <app-admin-add-product></app-admin-add-product>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left border rounded-lg shadow-sm border-gray-200">
      <thead class="bg-gray-50 border-b border-gray-200 text-gray-700">
        <tr>
          <th class="py-3 px-4">Product code</th>
          <th class="py-3 px-4">Name</th>
          <th class="py-3 px-4">Description</th>
          <th class="py-3 px-4">Purchase price</th>
          <th class="py-3 px-4">Selling price</th>
          <th class="py-3 px-4">Quantity</th>
          <th class="py-3 px-4">Status</th>
          <th class="py-3 px-4">Actions</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        @for (product of allProductList();track product.id) {
            <tr class="hover:bg-gray-50">
              <td class="py-3 px-4 font-medium text-gray-900">{{product.id}}</td>
              <td class="py-3 px-4">{{product.product_name}}</td>
              <td class="py-3 px-4">{{product.product_decription}}</td>
              <td class="py-3 px-4">{{product.purchase_price | currency:'INR'}}</td>
              <td class="py-3 px-4">{{product.product_selling_price | currency:'INR'}}</td>
              <td class="py-3 px-4">{{product.product_stock_quantity}}</td>
              <td class="py-3 px-4 font-medium">{{product.status}}</td>
              <td class="py-3 px-4">
                <a class="text-indigo-600 font-medium hover:underline" style="cursor: pointer;">Edit</a>   |  
                <a class="text-indigo-600 font-medium hover:underline" style="cursor: pointer;" (click)="deleteProduct(product.id)"> Delete </a>
              </td>
            </tr>
        }
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>

